<footer>
  <div
    class="post-job-section bg-[url(../assets/images/common/request-job-section.jpg)] bg-no-repeat bg-[length:104%_237%] bg-center"
  >
    <div class="bg-[rgba(0,0,0,0.6)]">
      <div
        class="flex justify-between items-center container py-[64px] mx-auto gap-[20px] flex-wrap"
      >
        <div class="content">
          <h2
            class="text-white text-[24px] md:text-[28px] xl:text-[32px] font-[600] mb-[20px]"
          >
            Get Reliable Welding Services Today!
          </h2>
          <p class="text-white text-[16px] lg:text-[18px] font-[400]">
            Expert welding tailored to your needs. Contact us for a free
            consultation.
          </p>
        </div>
        <button class="btn btn-primary w-[180px]">
          Request a job <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="footer-details bg-footer_black py-[96px]">
    <div class="container mx-auto flex flex-wrap justify-between gap-4">
      <div class="logo_section">
        <img
          src="../assets/images/common/logo.png"
          alt="Logo"
          class="w-[187px] h-[120px] mb-[36px]"
        />
        <p class="text-light_white text-[16px] lg:text-[18px]">
          Trusted Experts in Welding, Inspection, <br />
          and Non-Destructive Testing.
        </p>
      </div>
      <div class="quick-links flex flex-col gap-[20px]">
        <h5 class="text-light_white text-[20px] font-[700]">Quick links</h5>
        <a
          href="#"
          class="text-light_gray text-[16px] lg:text-[18px] font-[500] border-bottom-hover-effect w-fit hover:text-white"
          >Home</a
        >
        <a
          href="#"
          class="text-light_gray text-[16px] lg:text-[18px] font-[500] border-bottom-hover-effect w-fit hover:text-white"
          >About us</a
        >
        <a
          href="#"
          class="text-light_gray text-[16px] lg:text-[18px] font-[500] border-bottom-hover-effect w-fit hover:text-white"
          >Contact us</a
        >
      </div>
      <div class="services flex flex-col gap-[20px]">
        <h5 class="text-light_white text-[20px] font-[700]">Services</h5>
        <a
          href="#"
          class="text-light_gray text-[18px] font-[500] border-bottom-hover-effect w-fit hover:text-white"
          >Welding procedures</a
        >
        <a
          href="#"
          class="text-light_gray text-[18px] font-[500] border-bottom-hover-effect w-fit hover:text-white"
          >Non-destructive testing</a
        >
        <a
          href="#"
          class="text-light_gray text-[18px] font-[500] border-bottom-hover-effect w-fit hover:text-white"
          >Air quality monitoring <br />and management</a
        >
      </div>
      <div class="quick-links flex flex-col gap-[20px]">
        <h5 class="text-light_white text-[20px] font-[700]">Company details</h5>
        <div class="text-light_gray text-[18px] font-[500] flex flex-col">
          <p class="text-white font-bold text-[16px]">Email</p>
          <a href="mailto:info@theweldingwiz.com.au"
            >info@theweldingwiz.com.au</a
          >
          <a href="mailto:office@theweldingwiz.com.au"
            >office@theweldingwiz.com.au</a
          >
        </div>
        <div class="text-light_gray text-[18px] font-[500]">
          <p class="text-white font-bold text-[16px]">Telephone</p>
          <p>+1-999-434-7923</p>
          <p>+2-888-434-7924</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right-section bg-primary">
    <div class="flex justify-between items-center container py-[48px] mx-auto">
      <p class="text-white text-[16px] font-[400]">
        Copyright © 2024, The Welding Wizard Services. All rights reserved.
      </p>
      <div class="social-buttons">
        <a
          href="#"
          class="social-button social-button--facebook"
          aria-label="Facebook"
        >
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a
          href="#"
          class="social-button social-button--instagram"
          aria-label="Instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="#"
          class="social-button social-button--linkedin"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
