<footer class="bg-dark py-40 px-8">
  <div class="flex gap-20 w-4/5 m-auto justify-between flex-wrap">
    <div class="logo w-[174px] h-[137px]">
      <img src="./assets/images/common/logo.png" alt="" srcset="" />
    </div>
    <div class="desc">
      <p class="text-light_gray">
        The welding wiz was established to provide a <br />tailored service for
        all your engineering welding <br />
        needs. We have a solution and an answer to <br />
        anything you challange us with. With 16 years <br />experience in
        specialist welding service and <br />consulting
      </p>
    </div>
    <div class="custom-menu w-[300px]">
      <h6 class="text-white font-semibold mb-8 uppercase">Custom menu</h6>
      <ul class="flex flex-col">
        <li
          class="group pb-5 border-b border-light_gray hover:border-primary cursor-pointer"
        >
          <a
            href="#"
            class="text-light_gray group-hover:text-white uppercase flex justify-between group-hover:mr-2"
            >About Us
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li
          class="group py-5 border-b border-light_gray hover:border-primary cursor-pointer"
        >
          <a
            href="#"
            class="text-light_gray group-hover:text-white uppercase flex justify-between group-hover:mr-2"
            >Welding procedures <i class="fa-solid fa-chevron-right"></i
          ></a>
        </li>
        <li
          class="group py-5 border-b border-light_gray hover:border-primary cursor-pointer"
        >
          <a
            href="#"
            class="text-light_gray group-hover:text-white uppercase flex justify-between group-hover:mr-2"
            >NDT <i class="fa-solid fa-chevron-right"></i
          ></a>
        </li>
        <li
          class="group py-5 border-b border-light_gray hover:border-primary cursor-pointer"
        >
          <a
            href="#"
            class="text-light_gray group-hover:text-white uppercase flex justify-between group-hover:mr-2"
            >Air quality
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li
          class="group py-5 border-b border-light_gray hover:border-primary cursor-pointer"
        >
          <a
            href="contactus.html"
            class="text-light_gray group-hover:text-white uppercase flex justify-between group-hover:mr-2"
            >Contact Us <i class="fa-solid fa-chevron-right"></i
          ></a>
        </li>
      </ul>
    </div>

    <div>
      <div class="company-info mb-8">
        <h6 class="text-white font-semibold mb-8 uppercase">Company info</h6>
        <p class="text-light_gray flex items-center gap-4 mb-4">
          <i class="fa-solid fa-phone-flip"></i>0410190015
        </p>
        <p class="text-light_gray flex items-center gap-4">
          <i class="fa-regular fa-envelope"></i>info@theweldingwiz.com.au
        </p>
      </div>
      <div class="social flex items-center gap-2">
        <i
          class="fa-brands fa-facebook text-light_gray hover:text-white hover:bg-dark_gray p-3 cursor-pointer text-[32px]"
        ></i>
        <i
          class="fa-brands fa-instagram text-light_gray hover:text-white hover:bg-dark_gray p-3 cursor-pointer text-[32px]"
        ></i>
      </div>
    </div>
  </div>
</footer>
